@model IEnumerable<TimeBasedPreventiveMeasures.Models.Data.ActionPlan>

@{
    ViewData["Title"] = "Hardwares";
    ViewData["CurrentScreen"] = "Hardwares";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Action Plan List</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Assigned To
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reminder)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @item.AssignedToCustodianId 
                            @Html.DisplayFor(modelItem => item.AssignedToCustodian.FirstName) @Html.DisplayFor(modelItem => item.AssignedToCustodian.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reminder)
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.ActionPlanId">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="AddOrEdit" asp-route-id="@item.ActionPlanId" class="btn btn-warning">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button type="submit" class="btn btn-danger"
                                            onclick="return confirm('Are you sure to delete this record?')">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="text-center">
    <a asp-action="AddOrEdit" class="btn btn-success">
        <i class="fa-solid fa-plus"></i> New Action Plan
    </a>
</div>
